@font-face {
    font-display: swap;
    font-family: "Monrope";
    font-style: normal;
    font-weight: 400;
    src: url('../../../public/fonts/manrope-v19-latin-regular.woff2') format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Travel November";
    font-style: normal;
    font-weight: 400;
    src: url('../../../public/fonts/Travel\ November.ttf');
}

@font-face {
    font-display: swap;
    font-family: "Al Saflers";
    font-style: normal;
    font-weight: 400;
    src: url('../../../public/fonts/manrope-v19-latin-regular.woff2');
}