:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary-pink: #fff1f1;
    --color-secondary-pink: #ffe0e0;
    --color-light-pink: #ffeeee;
    --color-primary-blue: #d6ecff;
    --color-secondary-blue: #b4dcff;
}

$bp-mobile: 480px;
$bp-large-mobile: 660px;
$bp-tablet: 768px;
$bp-large-tablet: 1008px;
$bp-desktop: 1280px;