.contact-section {
    padding-top: 60px;

    @media screen and (min-width: $bp-mobile) {
        padding-top: 70px;
    }

    @media screen and (min-width: $bp-tablet) {
        padding-top: 80px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding-top: 100px;
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        max-width: 360px;
        margin: 0 auto;

        @media screen and (min-width: $bp-mobile) {
            max-width: 480px;
        }

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            padding-left: 70px;
            justify-content: space-around;
            max-width: 900px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            padding-left: 100px; 
            justify-content: space-between;
            max-width: 1240px;
        }
    }

    &__title.section-title {
        position: absolute;
        top: 145px;
        left: -42px;
        transform-origin: top;
        transform: rotate(-90deg);
        line-height: 1;

        @media screen and (min-width: $bp-mobile) {
            top: 188px;
            left: -30px;
        }

        @media screen and (min-width: $bp-tablet) {
            top: 236px;
            left: -120px
        }
    
        @media screen and (min-width: $bp-desktop) {
            top: 400px;
            left: -125px;
        }
    }

    &__img {
        width: 204px;
        height: 290px;
        margin-left: auto;
        
        @media screen and (min-width: $bp-mobile) {
            margin-right: 0px;
            width: 262px;
            height: 368px;
        }

        // @media screen and (min-width: 570px) {
        //     margin-right: 60px;
        // }

        // @media screen and (min-width: 620px) {
        //     margin-right: 80px;
        // }
            
        @media screen and (min-width: $bp-tablet) {
            margin-left: 0;
            margin-right: 0;
            width: 322px;
            height: 454px;
        }
            
        @media screen and (min-width: $bp-desktop) {
            width: 570px;
            height: 800px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 20px 20px 50px;
        height: 100%;
        flex-shrink: 1;

        @media screen and (min-width: $bp-mobile) {
            gap: 35px;
            padding: 35px 25px 60px;
            align-items: center;
        }
        
        @media screen and (min-width: $bp-tablet) {
            gap: 40px;
            padding: 45px 15px 0px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            gap: 80px;
            padding: 100px 80px 0px;
        }
    }

    &__form-title {
        font-size: 22px;
        font-weight: 600;
        font-family: "Monrope", sans-serif;

        @media screen and (min-width: $bp-mobile) {
            font-size: 30px;
            width: 280px;
        }
        
        @media screen and (min-width: $bp-tablet) {
            font-size: 30px;
            width: auto;
        }
    
        @media screen and (min-width: $bp-desktop) {
            font-size: 40px;
        }
    }

    &__form-input {
        height: 31px;
        border-bottom: 1px solid #757575;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 14px;

        @media screen and (min-width: $bp-mobile) {
            font-size: 18px;
            height: 38px;
            width: 350px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
            height: 42px;
            width: auto;
        }
    
        @media screen and (min-width: $bp-desktop) {
            height: 51px;
            border-bottom: 2px solid #757575;
            font-size: 30px;
        }
    }

    &__form-input-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-mobile) {
            gap: 30px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            gap: 40px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            gap: 60px;
        }
    }

    &__form-btn {
        font-family: "Monrope", sans-serif;
        font-size: 14px;
        line-height: 100%;
        font-weight: 400;
        background-color: var(--color-primary-blue);
        color: var(--color-black);
        padding: 6px 12px;
        border-radius: 100px;
        margin: 0 auto;
        height: 40px;
        width: 200px;
        cursor: pointer;
        transition: 0.5s;

        @media screen and (min-width: $bp-mobile) {
            height: 48px;
            width: 240px;
            padding: 6px 14px;
            font-size: 18px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            height: 58px;
            width: 290px;
            padding: 8px 16px;
            font-size: 24px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            height: 70px;
            width: 350px;
            font-size: 30px;
        }
    }

    &__form-btn:hover {
        background-color: var(--color-secondary-pink);
        filter: drop-shadow(0px 0px 35px var(--color-secondary-pink));
    }
}

