.image-section {
    background-image: url("../../assets/images/image-section.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 380px; //260

    @media screen and (min-width: $bp-mobile) {
        min-height: 522px;
    }

    @media screen and (min-width: $bp-tablet) {
        min-height: 664px;
    }

    @media screen and (min-width: $bp-desktop) {
        min-height: 808px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../../assets/images/image-section@2x.jpg");
    }
}